nav {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav button {
  display: block;
  margin: 15px 0;
  background: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  transition: background 0.3s;
}

nav button:hover {
  background: #ccc;
}

/* Dropdown menu styles */
.dropdown-menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20%);
}

.dropdown-menu.transition-all {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu button {
  margin: 0; /* Remove default margin */
  background: none; /* Remove default background */
  border: none; /* Remove border */
  padding: 10px;
  border-radius: 50%;
  background: #fff;
  transition: background 0.3s;
}

.dropdown-menu button:hover {
  background: #ccc;
}