.skills-grid {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 85px;
  padding: 10px;
}

.skills-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.hexagon-wrapper {
  width: 140px;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: auto;
}

.hexagon {
  width: 100%;
  height: 100%;
  background-color: #1260BC;
  clip-path: polygon(
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%,
    0% 50%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.hexagon-icon {
  width: 40px;
  height: 40px;
  color: #75D6FF;
}

/* Hover effect for icons */
@media (min-width: 1280px) {
  .hexagon-icon {
    transition: width 0.3s ease, height 0.3s ease;
  }

  .hexagon:hover .hexagon-icon {
    width: 50px;
    height: 50px;
  }
}

.hexagon-text {
  margin-top: 8px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.hexagon-third {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  margin-left: 70px;
  z-index: 1;
}

.skills-group {
  height: 240px; 
}

.skills-group:nth-child(odd) .hexagon-wrapper:nth-child(1) {
  margin-bottom: 4px;
}

.skills-group:nth-child(odd) .hexagon-wrapper:nth-child(2) {
  margin-top: 4px;
}

.skills-group:nth-child(even) .hexagon-wrapper:nth-child(1) {
  margin-bottom: 8px;
}